<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Short URL</title>
</head>
<body>
    <h1 class="text-center h4 my-5">Shorten URL</h1>
    <div class="container ">
        <div class="wrap d-flex px-5">
            <input class="form-control mr-3 url" type="text" placeholder="Enter Long URL"> 
            <input type="hidden" class="base" value="<%= baseURL %>">
            <button class="btn btn-info flex-grow-1" type="submit">Convert</button>
        </div>
        <div class="short-url px-5 my-5">
            <span style="color: rgb(106, 172, 117); font-weight:bold" class="mr-3">Short URL: </span>
            <a href="" target="_blank"></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        let convertBtn = document.querySelector('button');
        convertBtn.onclick = () => {
            baseURL = document.querySelector('.base').value
            fetch(baseURL + '/api/url/shorten', {
                method: 'post',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({
                    longUrl: document.querySelector('.url').value
                })
            }).then( res => res.json())
            .then(data => {
                document.querySelector('a').innerHTML = data.shortUrl
                document.querySelector('a').href = data.shortUrl
            })
            .catch(err => console.log(err)); 
        }
    </script>
</body>
</html>